[user]
	name = luiul
	email = aceitunosoriano@gmail.com
[core]
	excludesfile = /Users/luis.aceituno/.gitignore_global
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictstyle = zdiff3
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	ff = only
[fetch]
	prune = true
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[branch]
	sort = -committerdate
[commit]
	verbose = true
