<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.dotfiles.brew-dump</string>
		<key>Program</key>
		<string>/Users/luis.aceituno/dotfiles/cron/brew-dump.sh</string>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>43</integer>
		</dict>
		<key>StandardOutPath</key>
		<string>/Users/luis.aceituno/Library/Logs/brew-dump.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/luis.aceituno/Library/Logs/brew-dump.log</string>
	</dict>
</plist>
